
.post{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #b3b3c3;
    width: fit-content;
}
.user{
    font-style: italic;
}
.content{
    margin-top: 5px;
    font-size: 16px;
}
.hidden{
    display: none;
}
.new-post-form{
    margin-bottom: 20px;
    background-color: #e6e6ff;
    padding: 10px;
    border-radius: 5px;
}
.link {
    display: inline-block;
    padding: 8px 14px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.link:hover {
    background: #0056b3;
}
