*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.main_box{
    background-image: url("photo.jpg");
    background-size: cover;
    height: 100vh;
}
.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    transition: all 0.3s linear;
}
.sidebar_menu{
    background: rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    box-shadow: 0 0 6px rgba(225, 225, 225, 0.6);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 0 6px rgba(225, 225, 225, 0.6);
}
.sidebar_menu .logo a{
    position: absolute;
    color: white;
    left: 50px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;

}
.sidebar_menu .btn_two i{
    color: gray;
    font-size: 25px;
    font-weight: 700;
    position: absolute;
    left: 225px;
    line-height: 60px;
    transition: all 0.3s linear;
}
.sidebar_menu .menu{
    width: 100%;
    position: absolute;
    top: 80px;

}
.sidebar_menu .menu li{
    list-style: none;
    padding: 15px 20px;
    margin-top: 6px;
}
.sidebar_menu .menu li a,i{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.sidebar_menu .menu li i{
    padding-right: 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    bottom: 40px;
    left: 15%;
}
.sidebar_menu .social_media i{
    list-style: none;
    color: white;
    opacity: 0.5;
    font-size: 20px;
    padding: 0 10px;
}
#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(225, 225, 225, 0.5);
}
.btn_one i:hover{
    cursor: pointer;
    font-size: 35px;
}
.btn_two i:hover {
    cursor: pointer;
    font-size: 30px;
}
.social_media i:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2);
}
#check:checked ~ .sidebar_menu{
    left: 0;
}
#check:checked ~.btn_one{
    display: none;
}